:root{
  --color-day-sky: rgb(64, 126, 219);
  --color-day-cloud: rgb(242, 242, 242);

  /*position-clouds*/
  --first-x-position: 0;
  --first-y-position: 0;

  --last-x-position: 90vw;
  --last-y-position: 90vh;
  /*position-clouds*/
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.background{
  background-color: var(--color-day-sky);
  width: 100%;
  height: 100%;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.container-clouds{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 400px){
  .background{
    padding: 2rem;
  }
}

.button{
  transform: scaleX(100%) scaleY(100%);
  transition: transform .2s ease;
  filter: opacity(0.9)
}

.button:hover{
  transform: scaleX(102%) scaleY(102%);
  transition: transform .2s ease;
  filter: blur(0.001px) opacity(1);
  color: purple;
}

.button:active{
  transform: skewX(15deg);
}

