:root{
  --bg-color-card: rgb(173, 190, 207);
}

.card{
  background-color: var(--bg-color-card);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  padding-bottom: 2rem;
  width: 30vw;
  border-radius: 1rem;
  border: none;
  position: relative;
  z-index: 7;
  transition: filter .2s ease;
  filter: opacity(1);
}

.card-day{
  box-shadow: 0 200px 92px -97px var(--color-shadow-day);
  color: var(--font-color-default-day);
}

.card-night{
  box-shadow: 0 200px 92px -97px var(--color-shadow-night);
  filter: brightness(0.6);
  color: var(--font-color-default-night);
}

  .card:hover{
    transition: filter .2s ease;
    filter: opacity(0.973)
  }

  .card-night:hover{
    transition: filter .2s ease;
    filter: opacity(0.973) brightness(0.8);
  }

  .card:active{
    z-index: 1;
  }
  
  .weather{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  
  @media only screen and (max-width: 1200px){
    .card{
      width: 60vw;
    }
  }

  @media only screen and (max-width: 400px){
    .card{
      width: 80vw;
    }
  }

  .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container-weather-image{
    width: 10rem;
    height: 8rem;
    background-color: transparent;
  }
  .weather-image{
    width: 100%;
    height: 120%;
  }
  
  .row{
    display: flex;
  }
  
  
  .space{
    text-indent: 1rem;
  }

  .font-color-day{
    color: var(--font-color-day);
  }

  .font-color-night{
    color: var(--font-color-night);
  }
  
  .temperature{
    text-indent: none;
    position: relative;
    right: 0.5rem;
  }
  
  .size{
    font-size: large;
  }