.card{
    background-color: aliceblue;
    color: rgb(173, 21, 173);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    width: 30vw;
    border-radius: 1rem;
    border: none;
    position: relative;
    z-index: 2;
  }
  
  .weather{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  
  @media only screen and (max-width: 1200px){
    .card{
      width: 60vw;
    }
  }

  @media only screen and (max-width: 400px){
    .card{
      width: 80vw;
    }
  }

  .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container-weather-image{
    width: 10rem;
    height: 10rem;
    background-color: transparent;
  }
  .weather-image{
    width: 100%;
    height: 100%;
  }
  
  .row{
    display: flex;
  }
  
  
  .black{
    color: black;
    text-indent: 1rem;
  }
  
  .temperature{
    text-indent: none;
    position: relative;
    right: 0.5rem;
  }
  
  .size{
    font-size: large;
  }