.cloud{
    width: 120px;
    height: 120px;
    position: relative;
    z-index: 1;
}

.animation-cloud-1{
    animation: cloudMove1 450s linear alternate infinite;
}

@keyframes cloudMove1 {
    0%{
        transform: translateX(-120px) translateY(-10px); /* x 0 50 y -10 10 */
    }
    20%{
        transform: translateX(0) translateY(5px);
    }
    40%{
        transform: translateX(100px) translateY(10px);
    }
    60%{
        transform: translateX(300px) translateY(10px);
    }
    80%{
        transform: translateX(100px) translateY(5px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}

.animation-cloud-2{
    animation: cloudMove2 400s ease alternate infinite;
}

@keyframes cloudMove2 {
    0%{
        transform: translateX(300px) translateY(10px); 
    }
    20%{
        transform: translateX(500px) translateY(15px);
    }
    40%{
        transform: translateX(50px) translateY(10px);
    }
    60%{
        transform: translateX(-50px) translateY(10px);
    }
    80%{
        transform: translateX(-200px) translateY(-5px);
    }
    100%{
        transform: translateX(20px) translateY(0);
    }
}

.animation-cloud-3{
    animation: cloudMove3 115s ease alternate infinite;
}

@keyframes cloudMove3 {
    0%{
        transform: translateX(40px) translateY(-20px); 
    }
    20%{
        transform: translateX(50px) translateY(-10px);
    }
    40%{
        transform: translateX(20px) translateY(10px);
    }
    60%{
        transform: translateX(20px) translateY(10px);
    }
    80%{
        transform: translateX(-30px) translateY(25px);
    }
    100%{
        transform: translateX(10px) translateY(0);
    }
}

.cloud::before{
    content: '';
    position: absolute;
    background-color: var(--color-day-sky);
    z-index: 1;
    top: 15%;
    left: 47%;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    box-shadow: -2px -12px var(--color-day-sky);
}

.bg-day::before{
    background-color: var(--color-day-sky);
}

.bg-night::before{
    background-color: var(--color-night-sky);
}

.cloud::after{
    content: '';
    position: absolute;
    background-color: var(--color-day-cloud);
    z-index: 1;
    top: 34%;
    left: 45%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 16px 15px var(--color-day-cloud);
}

.bg-day::after{
    background-color: var(--color-day-cloud);
}

.bg-day::after{
    background-color: var(--color-night-cloud);
}

.cloud>img{
    width: inherit;
    height: inherit;
}