.cloud{
    width: 120px;
    height: 120px;
    position: relative;
    transform: translateX(0) translateY(0vh);
    z-index: 1;
}

.cloud::before{
    content: '';
    position: absolute;
    background-color: var(--color-day-sky);
    z-index: 1;
    top: 28%;
    left: 49%;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.bg-day::before{
    background-color: var(--color-day-sky);
}

.bg-night::before{
    background-color: var(--color-night-sky);
}

.cloud::after{
    content: '';
    position: absolute;
    background-color: var(--color-day-cloud);
    z-index: 1;
    top: 34%;
    left: 45%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 14px 11px var(--color-day-cloud);
}

.cloud>img{
    width: inherit;
    height: inherit;
}