*{
    background-color: transparent;
}

.cloud{
    width: 300px;
    height: 200px;
    position: relative;
    z-index: 1;
}

.animation-cloud-1{
    animation: cloudMove1 130s linear alternate infinite;
}

@keyframes cloudMove1 {
    0%{
        transform: translateX(0) translateY(-20px);
    }
    20%{
        transform: translateX(200px) translateY(5px);
    }
    40%{
        transform: translateX(150px) translateY(10px);
    }
    60%{
        transform: translateX(0) translateY(10px);
    }
    80%{
        transform: translateX(-40px) translateY(5px);
    }
    100%{
        transform: translateX(-40px) translateY(0);
    }
}

.animation-cloud-2{
    animation: cloudMove2 100s ease alternate infinite;
}

@keyframes cloudMove2 {
    0%{
        transform: translateX(350px) translateY(10px); 
    }
    20%{
        transform: translateX(400px) translateY(15px);
    }
    40%{
        transform: translateX(500px) translateY(10px);
    }
    60%{
        transform: translateX(300px) translateY(10px);
    }
    80%{
        transform: translateX(200px) translateY(-5px);
    }
    100%{
        transform: translateX(200px) translateY(0);
    }
}

.animation-cloud-3{
    animation: cloudMove3 115s ease alternate infinite;
}

@keyframes cloudMove3 {
    0%{
        transform: translateX(-160px) translateY(-40px); 
    }
    20%{
        transform: translateX(-50px) translateY(-30px);
    }
    40%{
        transform: translateX(-20px) translateY(30px);
    }
    60%{
        transform: translateX(-100px) translateY(30px);
    }
    80%{
        transform: translateX(0) translateY(75px);
    }
    100%{
        transform: translateX(10px) translateY(0);
    }
}



.cloud>img{
    width: inherit;
    height: inherit;
}

.opacity-0{
    opacity: 0;
}

.opacity-1{
    opacity: 1;
}